THE EDIT PAGE

<div class="h-full w-full flex justify-center align-middle p-8">
  <div class="h-full flex flex-col">
    <a class="btn btn-block" routerLink="../upload">Upload</a>
    <br>
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure><img ngSrc="ec2midivwtmjbmrpbbmp" style="height: 300px; width: 500px;" height="300" width="500" alt="profile"/></figure>
      <div class="card-body">
        <h2 class="card-title">New album is released!</h2>
        <p>Click the button to listen on Spotiwhy app.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Listen</button>
        </div>
      </div>
    </div>
  </div>
</div>
